<div class="favorite-list">
<h3>お気に入り一覧</h3>
<% @likes.each do |post| %>

<div class="post-box">
<p><%= link_to image_tag(post.photo.url), post, size: '300x600' %></p>

<div class="like-post-information">
<h5>作品名</h5>
<p><%= post.title %></p>

<h5>作者</h5>
<p><%= link_to post.user.name %></p>

<h5>詳細</h5>
<p><%= post.explanation %></p>
</div>
</div>
<% end %>
<div class="pagy">
<%== pagy_bootstrap_nav(@pagy) %>
</div>
</div>