<% if logged_in? %>
<% if @current_user == @user %>
<div class="profile">
  <h3><%= @user.name %></h3>
<% if  @user.image.present? %>
  <p><%= link_to image_tag(@user.image.url) if @user.image? %></p>
<% else %>
  <p><%= link_to image_tag(gravatar_url(@user)) %></p>
<% end %>

<li>プロフィール</li>
<ul class="profile-intorduction">
<p><%= simple_format(@user.self_introduction) %></p>
</ul>
<%= link_to "編集", edit_user_path(current_user) %>
</div>
  
  <div class="follow">
    <div class="item">
    <h5>フォローユーザー</h5>
    <%= link_to 'フォロー一覧', followings_user_path(@user)%>
    </div>
    <%= render 'users', users: @followings %>
   </div>
   
   <div class="follower">
     <div class="item">
     <h5>フォロワーユーザー</h5>
     <%= link_to 'フォロワー一覧', followers_user_path(@user) %>
     </div>
     <%= render 'users', users: @followers %>
   </div>
   
   <div class= "favorite">
     <div class="item">
     <h5>お気に入り作品</h5>
     <%= link_to 'お気に入り一覧', likes_user_path(@user) %>
     </div>
     <ul class="favorite-posts">
     <% @likes.each do |post| %>
       <p><%= link_to image_tag(post.photo.url), post, size: '300x600' %></p>
     <% end %>
     </ul>
   </div>
  
  <div class="my-posts">
    <div class="item">
  <h5>自身の投稿</h5>
  </div>
  <% if @posts.any? %>
    <ul class="my-posts">
      <% @posts.each do |post| %>
        <p><%= link_to image_tag(post.photo.url), post %></p>
  <% end %>
    </ul>
    <ul class= "pagy">
    <%== pagy_bootstrap_nav(@pagy) %>
    </ul>
    </div>
  <% end %>

</div>


<% else %>

<div class="profile">
  <h3><%= @user.name %></h3>
<% if  @user.image.present? %>
  <p><%= link_to image_tag(@user.image.url) if @user.image? %></p>
<% else %>
  <p><%= link_to image_tag(gravatar_url(@user)) %></p>
<% end %>

<div class="follow-bar"><%= render 'relationships/follow_button',  user: @user%></div>
<li>プロフィール</li>
<ul class="profile-intorduction">
<p><%= simple_format(@user.self_introduction) %></p>
</ul>

</div>
  
  
 <div class="user-posts">
   <div class="item">
  <h5>このユーザーの投稿</h5>
  </div>
  <% if @posts.any? %>
  <ul class="user-posts">
  <% @posts.each do |post| %>
    <p><%= link_to image_tag(post.photo.url), post %></p>
  <% end %>
  </ul>
  </div>
  <ul class= "pagy">
    <%== pagy_bootstrap_nav(@pagy) %>
    </ul>
  <% end %>
  

<% end %>

<% else %>
<div class="profile">
  <h3><%= @user.name %></h3>
<% if  @user.image.present? %>
  <p><%= link_to image_tag(@user.image.url) if @user.image? %></p>
<% else %>
  <p><%= link_to image_tag(gravatar_url(@user)) %></p>
<% end %>

<li>プロフィール</li>
<ul class="profile-intorduction">
<p><%= simple_format(@user.self_introduction) %></p>
</ul>
</div>
  
  
  <div class="user-posts">
    <div class="item">
  <h5>このユーザーの投稿</h5>
  </div>
  <% if @posts.any? %>
  <ul class="user-posts">
  <% @posts.each do |post| %>
    <p><%= link_to image_tag(post.photo.url), post %></p>
  <% end %>
  </ul>
  <ul class= "pagy">
    <%== pagy_bootstrap_nav(@pagy) %>
    </ul>
  <% end %>
  </div>
  <% end %>