<% if @current_user == @user %>
<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
       <%= image_tag @user.image.url if @user.image? %>
      </div>
      <div class="card-body">
        <li>プロフィール</li>
       <p><%= @user.self_introduction %></p>
      </div>
    </div>
  </aside>
  
  <ul class=''>
    <%= link_to "編集", edit_user_path(current_user) %>
  </ul>
  
  <div>
    <h5>フォローユーザー</h5>
    <%= render 'users', users: @followings %>
   </div>
   
   <div>
   <h5>フォロワーユーザー</h5>
   <%= render 'users', users: @followers %>
   </div>
   
   <h5>お気に入り作品</h5>
  
  <h5>自身の投稿</h5>
  <% if @posts.any? %>
  <ul>
  <% @posts.each do |post| %>
    <p><%= link_to image_tag(post.photo.url), post %></p>
  <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
  <% end %>

</div>


<% else %>

<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
       <%= image_tag @user.image.url if @user.image? %>
      </div>
      <div class="card-body">
        <li>プロフィール</li>
       <p><%= @user.self_introduction %></p>
      </div>
    </div>
    <%= render 'relationships/follow_button', user: @user %>
  </aside>
  
  
  
  <h5>このユーザーの投稿</h5>
  <% if @posts.any? %>
  <ul>
  <% @posts.each do |post| %>
    <p><%= link_to image_tag(post.photo.url), post %></p>
  <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
  <% end %>

<% end %>