<% if logged_in? %>
  <%= render 'search', q: @q, url: search_path %>
  
  <div class="item">
  <h5>最新の投稿</h5>
  <%= link_to '作品一覧', posts_path %>
  </div>
  <div class="flex-container">
    <% @posts.each do |post| %>
    <p><%= link_to image_tag(post.photo.url), post %></p>
  <% end %>
  </div>
  
  <div class="item">
  <h5>人気の投稿</h5>
  </div>
  <div class="flex-container">
    <% @favorite_posts.each do |post| %>
    <p><%= link_to image_tag(post.photo.url), post %></p>
  <% end %>
  </div>
  
  <div class="item">
  <h5>人気のユーザー</h5>
  </div>
  <div class="users">
    <% @follower_users.each do |user| %>
    <% if  user.image.present? %>
      <p><%= link_to image_tag(user.image.url), user_path(user) if user.image? %></p>
    <% else %>
      <p><%= link_to image_tag(gravatar_url(user, { size: 280 })), user_path(user) %></p>
    <% end %>
  <% end %>
  </div>
  
  <div class="item">
  <h5>自分の投稿</h5>
  <%= link_to '自分の投稿一覧', user_path(current_user) %>
  </div>
    <div class="flex-container">
    <% @my_posts.each do |post| %>
      <p><%= link_to image_tag(post.photo.url), post %></p>
    <% end %>
  </div>
  

<% else %>
<%= render 'search', q: @q, url: search_path %>

  <div class="overview">
    <article class="border">
      <h3>アプリ概要</h3>
    </article>
  </div>
  
  <div class="item">
  <h5>最新の投稿</h5>
  <%= link_to '作品一覧', posts_path %>
  </div>
  <div class="flex-container">
    <% @posts.each do |post| %>
    <p><%= link_to image_tag(post.photo.url), post %></p>
  <% end %>
  </div>
  
  <div class="item">
  <h5>人気の投稿</h5>
  </div>
  <div class="flex-container">
    <% @favorite_posts.each do |post| %>
    <p><%= link_to image_tag(post.photo.url), post %></p>
  <% end %>
  </div>
  
  <div class="item">
  <h5>人気のユーザー</h5>
  </div>
  <div class="users">
    <% @follower_users.each do |user| %>
     <% if  user.image.present? %>
        <p><%= link_to image_tag(user.image.url), user_path(user) if user.image? %></p>
     <% else %>
        <p><%= link_to image_tag(gravatar_url(user)), user_path(user) %></p>
     <% end %>
    <% end %>
  </div>
  

<% end %>