<div class="post-form">
<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="photo">
    <%= form.label '作品' %>
    <%= form.file_field :photo %>
  </div>
  
  <div class="title">
    <%= form.label 'タイトル' %>
    <%= form.text_field :title %>
  </div>
  
  <div class="introduction">
    <%= form.label '詳細' %>
    <%= form.text_area :explanation %>
  </div>

  <div class="actions">
    <%= form.submit '投稿', class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
