<%= render 'toppages/search', q: @q, url: search_path %>

<div class="search-list">
  
<% @search_posts.each do |post| %>
<div class="post-box">
<p><%= link_to image_tag(post.photo.url, :alt => '検索でヒットした投稿'), post %></p>

<div class="search-post-information">
<h5>作品名</h5>
<p><%= post.title %></p>

<h5>作者</h5>
<p><%= link_to post.user.name,  user_path(post.user) %></p>

<h5>詳細</h5>
<p class="search-post-explanation"><%= post.explanation %></p>
</div>
</div>
<% end %>

<% if @search_posts.count == 0 %>
  <div class="search-nil">
  <p>お探しの作品は見つかりませんでした</p>
  </div>
<% end %>

<div class="search-pagy">
<%== pagy_bootstrap_nav(@pagy) %>
</div>

</div>

