<%= render 'toppages/search', q: @q, url: search_path %>
<div class="row">
      <div>
      <% @search_posts.each do |post| %>
      <div class="card">
            <p><%= link_to image_tag(post.photo.url), post %></p>
            <div class="card-items">
                  <li>作品名</li>
                  <p><%= link_to post.title, post %></p>
                  <li>説明文</li>
                  <p><%= post.explanation %></p>
                  <li>作者</li>
                  <p><%= link_to post.user.name,  user_path(post.user)%></p>
            </div>
      </div>
      <% end %>
      <%== pagy_bootstrap_nav(@pagy) %>
</div>
