<% if logged_in? %>
<% if current_user == @post.user %>
<div class="show-post">
<p><%= image_tag @post.photo.url, size: '600x400' if @post.photo? %></p>


<h4>作品名</h4>
<p><%= @post.title  %></p>


<div class="post-user">
<h4>作者</h4>
 <p><%= link_to @post.user.name,  user_path(@post.user)%></p>
 </div>
 
 
<div class="post-explanation">
<h4>詳細</h4>
<div class="post-explanation-p">
<p><%= simple_format(@post.explanation) %></p>
</div>
</div>



<%= link_to '編集', edit_post_path(@post) %> |
<%= link_to "削除", @post, method: :delete, data: { confirm: "削除しますか？" } %> |
<%= link_to '戻る', '/' %>

</div>

<% else %>
<div class="show-post">

<p><%= image_tag @post.photo.url, size: '600x400' if @post.photo? %></p>

<h4>作品名</h4>
<p><%= @post.title %></p>

<div class="post-user">
<h4>作者</h4>
 <p><%= link_to @post.user.name,  user_path(@post.user)%></p>
 </div>
 <div class="postpage-follow-bar"><%= render 'relationships/postpage_follow_button',  user: @post.user %></div>
 
 
<div class="post-explanation">
<h4>詳細</h4>
<div class="post-explanation-p">
<p><%= simple_format(@post.explanation) %></p>
</div>
</div>



<%= render 'favorites/favorite_button', post: @post %>

<div class="bpostpage-ack">
<%= link_to '戻る', '/' %>
</div>
</div>
<% end %>


<% else %>
<div class="show-post">
<p><%= image_tag @post.photo.url, size: '600x400' if @post.photo? %></p>


<h4>作品名</h4>
<p><%= @post.title  %></p>


<div class="post-user">
<h4>作者</h4>
 <p><%= link_to @post.user.name,  user_path(@post.user)%></p>
 </div>
 
 
<div class="post-explanation">
<h4>詳細</h4>
<div class="post-explanation-p">
<p><%= simple_format(@post.explanation) %></p>
</div>
</div>

<div class="unlogin-bpostpage-ack">
<%= link_to '戻る', '/' %>
</div>
</div>

<% end %>